body {
    font-family: system-ui, sans-serif;
    padding: 40px;
    display: flex;
    justify-content: center;
    background: #000;
}

header {
    display: flex;
    gap: 25px;
    margin-bottom: 120px;
    padding-bottom: 20px;
}

header a {
    font-size: 2rem;
    color: #555;
    text-decoration: none;
    padding: 5px 10px;
}

header a:hover {
    color: #000;
    background: #555;
    border-radius: 3px;
}

h1 {
    font-size: 10rem;
    color: #eee;
    text-align: center;
}